<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minuteur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chrono.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minuteur.css') }}">
    <script src="{{ url_for('static', filename='js/minuteur.js') }}" defer></script>
</head>
<body>
    <a href="{{ url_for('home') }}" class="back-button">&#8592; Retour</a>

    <div class="teams-container">
        {% for chrono in chronos %}
            <div class="team">
                <h3>{{ chrono.team_name }}</h3>
                <p id="timer-{{ team.team_name }}">00:00</p>
                <button class="begin-button" id="start-{{ team.team_name }}" onclick="startTimer('{{ team.initial_minutes }} ', '{{ team.initial_seconds}}', '{{team.team_name}}')">Commencer</button>
                <button class="stop-button" id="stop-{{ team.team_name }}" style="display: none;" onclick="stopTimer('{{team.team_name}}')">Stop</button>
                <button class="reset-button" id="reset-{{ team.team_name }}" style="display: none;" onclick="resetTimer('{{ team.initial_minutes }} ', '{{ team.initial_seconds}}', '{{team.team_name}}')">Réinitialiser</button>
                <button class="restart-button" id="restart-{{ team.team_name }}" onclick="restartTimer('{{ team.team_name }}')" style="display: none;">Reprendre</button>
            </div>
        {% endfor %}
        <div class="add-team-container">
            <a href="{{ url_for('add_team') }}" id="add-team-button">Ajouter une équipe</a>
        </div>
    </div>
</body>