.back-button {
    display: inline-block;
    font-size: 24px;
    color: #007BFF;
    text-decoration: none;
}

.teams-container {
    margin-top: 40px;
    text-align: center;
}

.team {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.team p {
    font-size: 18px;
    color: #555;
}

.stop-button {
    padding: 8px 16px;
    font-size: 15px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.stop-button:hover {
    background-color: #c82333;
}

.reset-button {
    padding: 8px 16px;
    font-size: 15px;
    color: #fff;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.reset-button:hover {
    background-color: #e0a800;
}

.begin-button {
    padding: 8px 16px;
    font-size: 15px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.begin-button:hover {
    background-color: #218838;
}

.add-team-container {
    margin-top: 15px;
}

#add-team-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#add-team-button:hover {
    background-color: #0056b3;
}